/**
 * @file
 * Visual styles for mt_highlight paragraphs type in Business+.
 */
.field--type-entity-reference-revisions > .field__item {
  clear: both;
}
.field--type-entity-reference-revisions > .field__item:last-child {
  margin-bottom: 30px;
}
.field--type-entity-reference-revisions > .field__item:last-child:after {
  clear: both;
  display: table;
  content: " ";
}
.paragraph--type--mt-highlight {
  padding: 1.8em 0;
}
.paragraph--type--mt-highlight:before,
.paragraph--type--mt-highlight:after {
  display: table;
  content: " ";
}
.paragraph--type--mt-highlight:after {
  clear: both;
}
.field--name-field-mt-highlight-title {
  font-size: 28px;
  line-height: 1.20;
  margin: 0 0 10px 0;
  font-weight: 700;
  text-align: center;
}
@media (min-width:992px) {
  .field--name-field-mt-highlight-title {
    font-size: 48px;
  }
}
@media (min-width:1200px) {
  .field--name-field-mt-highlight-title {
    font-size: 60px;
  }
}
.field--name-field-mt-highlight-body {
  text-align: center;
  margin-bottom: 20px;
}
.field__item .field--name-field-mt-highlight-body:after {
  clear: none;
}
.field--name-field-mt-highlight-link {
  text-align: center;
}
.field--name-field-mt-highlight-link a {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 30px 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
}
.headings-wide-spacing-enabled .node--type-mt-product .field--name-field-mt-highlight-link a {
  letter-spacing: 0.25em;
}
.field--name-field-mt-highlight-link a:hover,
.field--name-field-mt-highlight-link a:focus {
  color: #ffffff;
}
@media (max-width: 767px) {
  .field--name-field-mt-highlight-title {
    padding-top: 20px;
  }
}
@media (min-width: 768px) { 
  .paragraph--type--mt-highlight .field--name-field-mt-highlight-image {
    width: 48%;
  }
  .field__item:nth-child(even) .field--name-field-mt-highlight-image {
    float: left;
  }
  .field__item:nth-child(even) .field--name-field-mt-highlight-title,
  .field__item:nth-child(even) .field--name-field-mt-highlight-body,
  .field__item:nth-child(even) .field--name-field-mt-highlight-link {
    margin-left: 52%;
  }
  .field__item:nth-child(odd) .field--name-field-mt-highlight-image {
    float: right;
  }
  .field__item:nth-child(odd) .field--name-field-mt-highlight-title,
  .field__item:nth-child(odd) .field--name-field-mt-highlight-body,
  .field__item:nth-child(odd) .field--name-field-mt-highlight-link {
    margin-right: 52%;
  }
  .field--name-field-mt-highlight-link a {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) { 
  .field--name-field-mt-highlight-title {
    margin-bottom: 0;
  }
}
