/**
 * @file
 * Visual styles for Business+'s mt-count-down module.
 */
.mt-count-down-theme.mt-count-down-inject {
  color: #ffffff;
}
.mt-count-down-inject.mt-count-down-theme:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mt-count-down-theme.mt-count-down-inject .mt-count-down__notes,
.mt-count-down-theme.mt-count-down-inject .mt-count-down__message,
.mt-count-down-theme.mt-count-down-inject .mt-count-down__title,
.mt-count-down-theme.mt-count-down-inject .mt-count-down__daysto,
.mt-count-down-theme.mt-count-down-inject .mt-label {
  color: #ffffff;
}
.mt-count-down-theme.mt-count-down-inject .mt-count-down__button {
  text-decoration: none;
  color: #ffffff;
}
.mt-count-down-inject.mt-count-down-theme .mt-count-down__button:hover,
.mt-count-down-inject.mt-count-down-theme .mt-count-down__button:focus {
  color: #424242;
  background: #ffffff;
}
.mt-count-down {
  padding: 10px 0;
  margin: 0;
  border-radius: 0;
  border: none;
}
.mt-count-down__title {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}
.mt-count-down__message {
  font-size: 16px;
  padding-bottom: 0;
}
.mt-count-down__button {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 25px 15px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
}
.mt-count-down__button:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .mt-count-down__title,
  .mt-count-down__message {
    text-align: center;
  }
}
.mt-count-down__daysto {
  text-align: right;
}
.mt-count-down__hint {
  font-size: 12px;
}
.mt-count-down__daysto .mt-time {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .mt-count-down__daysto .mt-time {
    margin: 0 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mt-count-down__daysto .mt-time {
    margin: 0 3px;
  }
}
@media (max-width: 767px) {
  .mt-count-down__daysto > span {
    margin-top: 20px;
    display: block;
  }
}
.mt-count-down__daysto .mt-count-down__notes {
  font-size: 14px;
  opacity: 0.85;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.mt-count-down__daysto .mt-count,
.mt-count-down__daysto .mt-label {
  display: block;
}
.mt-count-down__daysto .mt-count {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}
.mt-count-down__daysto .mt-label {
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.75;
}
.mt-count-down.alert button.close {
  top: 10px;
  right: 20px;
}
@media (max-width: 575px) {
  .mt-count-down.alert button.close {
    top: 0px;
    right: 0px;
    position: absolute;
    height: 50px;
    padding: 0 10px 0 20px;
    z-index: 1;
  }
}

/*count down block*/
.mt-count-down.mt-count-down-block,
.mt-count-down.mt-count-down-block .mt-count-down__daysto {
  text-align: left;
}
.col-12 .mt-count-down.mt-count-down-block,
.col-12 .mt-count-down.mt-count-down-block .mt-count-down__daysto {
  text-align: center;
}
.mt-count-down-theme.mt-count-down-block {
  background-color: transparent;
}
.region--dark-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__title,
.region--dark-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__notes,
.region--dark-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__message,
.region--dark-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__daysto,
.region--dark-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__hint {
  color: #424242;
}
.region--light-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__title,
.region--light-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__notes,
.region--light-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__message,
.region--light-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__daysto,
.region--light-typography .mt-count-down-theme.mt-count-down-block .mt-count-down__hint {
  color: #ffffff;
}
.mt-count-down-block .mt-count-down__button {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 30px 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
}
.region--dark-background .mt-count-down-block.mt-count-down-theme .mt-count-down__button:hover,
.region--dark-background .mt-count-down-block.mt-count-down-theme .mt-count-down__button:focus {
  background: #ffffff;
  color: #424242;
}
.region--colored-background .mt-count-down-block.mt-count-down-theme .mt-count-down__button {
  background: #ffffff;
  color: #424242;
}
.region--colored-background .mt-count-down-block.mt-count-down-theme .mt-count-down__button:hover,
.region--colored-background .mt-count-down-block.mt-count-down-theme .mt-count-down__button:focus {
  color: #ffffff;
}
.mt-count-down-block .mt-count-down__title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
}
.mt-count-down-block .mt-count-down__message {
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
}
.mt-count-down-block .mt-count-down__message:after {
  background-color: #ddd;
  content: "";
  width: 230px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: auto;
  margin-left: -115px;
  bottom: -20px;
}
.region--light-typography .col-12 .mt-count-down-block .mt-count-down__message:after {
  background-color: #ffffff;
}
.mt-count-down-block .mt-count-down__daysto {
  margin: 0 0 20px 0;
}
.mt-count-down-block .mt-count-down__title + .mt-count-down__daysto,
.mt-count-down-block .mt-count-down__message + .mt-count-down__daysto {
  margin-top: 20px;
}
.col-12 .mt-count-down-block {
  padding: 140px 0;
}
.col-12 .block .mt-count-down-block {
  padding: 10px 0 80px;
}
.col-12 .mt-count-down-block .mt-count-down__title {
  font-size: 44px;
}
.col-12 .mt-count-down-block .mt-count-down__daysto {
  padding: 10px 0 0;
}
.col-12 .mt-count-down-block .mt-count-down__notes {
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}
.col-12 .mt-count-down-block .mt-count {
  font-size: 44px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 5px;
  width: 90px;
  text-align: center;
}
.col-12 .mt-count-down-block .mt-label {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .col-12 .mt-count-down-block .mt-count-down__title {
    font-size: 60px;
  }
  .mt-count-down-block .mt-count-down__message {
    font-size: 24px;
  }
  .col-12 .mt-count-down-block .mt-count {
    font-size: 60px;
    width: 120px;
  }
  .col-12 .mt-count-down-block .mt-count {
    position: relative;
  }
  .col-12 .mt-count-down-block .mt-count:after {
    content: ":";
    position: absolute;
    right: -14px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 18px;
    font-weight: 400;
  }
  .col-12 .mt-count-down-block .mt-time:last-child .mt-count:after {
    content: "";
  }
}
@media (max-width: 575px) {
  .col-12 .mt-count-down-block .mt-time:last-child {
    display: none;
  }
}
