/**
 * @file
 * Visual styles for Business+'s service content type.
 */
.node--type-mt-service .node__header {
  padding: 0;
}

/*page title*/ 
.layout-no-sidebars.page-node-type-mt-service .page-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .layout-no-sidebars.page-node-type-mt-service .page-title {
    font-size: 70px;
  }
}

/*service content top*/
.service-content-top{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.service-content-top-first,
.service-content-top-second {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  ..layout-no-sidebars .service-content-top-first {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .layout-no-sidebars .service-content-top-first + .service-content-top-second {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

/*body*/
@media (min-width: 992px) {
  .layout-no-sidebars.page-node-type-mt-service .field--name-field-mt-srv-body {
    width: 66.6666667%;
    margin: 0 auto;
  }
}

/*subheader field*/
.field--name-field-mt-srv-subheader-body {
  font-size: 24px;
  line-height: 1.5;
}
.field--name-field-mt-srv-subheader-body {
  text-align: center;
}
@media (min-width: 992px) {
  .layout-no-sidebars .service-content-top-first + .service-content-top-second .field--name-field-mt-srv-subheader-body {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .field--name-field-mt-srv-subheader-body {
    margin: 0 auto;
    width: 66.666667%;
  }
  .service-content-top-first + .service-content-top-second .field--name-field-mt-srv-subheader-body {
    width: 100%;
  }
}

/*image field*/
.node--type-mt-service .field--name-field-mt-srv-image {
  margin-bottom: 30px;
}
.node--type-mt-service.node--view-mode-teaser .images-container {
  margin-bottom: 15px;
}

/*price field*/
.node--type-mt-service .field--name-field-mt-srv-price {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

/*buy link field*/
.node--type-mt-service .field--name-field-mt-srv-buy-link {
  text-align: center;
}
@media (min-width: 992px) {
  .layout-no-sidebars .service-content-top-first + .service-content-top-second .field--name-field-mt-srv-buy-link a {
    display: block;
  }
}
.node--type-mt-service .field--name-field-mt-srv-buy-link a {
  font-size: 16px;
  font-weight: 400;
  min-width: 190px;
  padding: 16px 30px 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 0 30px;
  text-align: center;
  background-color: transparent;
}
.headings-wide-spacing-enabled .node--type-mt-service .field--name-field-mt-srv-buy-link a {
  letter-spacing: 0.25em;
}
.region--dark-background .node--type-mt-service .field--name-field-mt-srv-buy-link a:hover,
.region--dark-background .node--type-mt-service .field--name-field-mt-srv-buy-link a:focus {
  color: #424242;
  background: #ffffff;
}
.region--colored-background .node--type-mt-service .field--name-field-mt-srv-buy-link a {
  color: #424242;
  background: #ffffff;
}
.region--colored-background .node--type-mt-service .field--name-field-mt-srv-buy-link a:hover,
.region--colored-background .node--type-mt-service .field--name-field-mt-srv-buy-link a:focus {
  color: #ffffff;
}
