/**
 * @file
 * Visual styles for Business+'s testimonials list views.
 */
.view-testimonials-list .views-row {
  margin: 0 0 40px 0;
  padding: 25px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.view-testimonials-list .views-row:after {
  display: block;
  clear: both;
  content: "";
}
.view-testimonials-list .views-field-field-mt-tst-testimonial-image {
  text-align: center;
}
.view-testimonials-list .views-field-field-mt-tst-body {
  padding-bottom: 10px;
  color: #424242;
}
.view-testimonials-list .views-field-field-mt-tst-body p {
  padding: 0;
  position: relative;
  margin-bottom: 10px;
}
.view-testimonials-list .views-field-title a {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.headings-wide-spacing-enabled .view-testimonials-list .views-field-title {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.view-testimonials-list .views-field-field-mt-tst-subtitle {
  font-size: 16px;
  font-weight: 500;
}
.view-testimonials-list .views-field-field-mt-tst-subtitle {
  color: #939393;
  font-style: italic;
  font-weight: 400;
}
@media (min-width: 768px) {
  .views-field-field-mt-tst-testimonial-image {
    margin-right: 25px;
    float: left;
    max-width: 70px;
    max-height: 70px;
  }
  .view-testimonials-list .views-field-field-mt-tst-testimonial-image ~ .views-field-title,
  .view-testimonials-list .views-field-field-mt-tst-testimonial-image ~ .views-field-field-mt-tst-subtitle {
    margin-left: 95px;
  }
}
@media (max-width: 767px) {
  .view-testimonials-list .views-field-field-mt-tst-testimonial-image .views-field-field-image {
    max-width: 70px;
    display: inline-block;
    margin-bottom: 10px;
  }
}
