/**
 * @file
 * Visual styles for Business+'s products grid views.
 */
.view-products-grid .views-row {
  margin: 15px 0;
  position: relative;
}
.view-products-grid .views-field-field-mt-prd-image {
  margin-bottom: 20px;
}
.headings-wide-spacing-enabled .view-products-grid .views-field-title h5 {
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.view-products-grid .views-field-title h5 a:hover {
  text-decoration: none;
}
.region--light-typography .view-products-grid .views-field-title h5 a {
  color: #ffffff;
}
.region--light-typography .view-products-grid .views-field-title h5 a:hover {
  color: #ffffff;
}
.view-products-grid .views-field-field-mt-prd-price {
  font-size: 18px;
  margin: 0px 0 10px 0;
  font-weight: 700;
}

/* overlay */
.view-products-grid .views-row > .overlay-container {
  position: absolute;
  display: block;
  overflow: hidden;
  top: -15px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
