/**
 * @file
 * Visual styles for Business+'s grid 2.
 */
.view-albums-grid-2 .views-row {
  margin: 0 0 50px;
}
.view-albums-grid-2.view > .more-link a {
  margin: 10px 0; 
}

/* overlay */
.view-albums-grid-2 .views-row > .overlay-container {
  position: absolute;
  display: block;
  overflow: hidden;
  top: -15px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
