/**
 * @file
 * Visual styles for Business+'s collections views image overlays.
 */
.view-collections-grid .overlay-target-link a,
.view-collections-carousel .overlay-target-link a,
.view-collection-masonry .overlay-target-link a {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  font-size: 0;
}
.view-collections-grid .overlay-inner .overlay-animated,
.view-collections-carousel .overlay-inner .overlay-animated,
.view-collection-masonry .overlay-inner .overlay-animated {
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.view-collections-grid .overlay-inner a,
.view-collections-carousel .overlay-inner a,
.view-collection-masonry .overlay-inner a {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 30px 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
}
.headings-wide-spacing-enabled .view-collections-grid .overlay-inner a,
.headings-wide-spacing-enabled .view-collections-carousel .overlay-inner a,
.headings-wide-spacing-enabled .view-collection-masonry .overlay-inner a {
  letter-spacing: 0.25em;
}
.view-collections-grid .overlay-inner a:hover,
.view-collections-carousel .overlay-inner a:hover,
.view-collection-masonry .overlay-inner a:hover,
.view-collections-grid .overlay-inner a:focus,
.view-collections-carousel .overlay-inner a:focus,
.view-collection-masonry .overlay-inner a:focus {
  color: #ffffff;
}
